body {
  background-color: #F9F2ED;
}

hr {
  background-color: white;
  border-style: none;
  height: 2px;
  width: 50%;
}

h1{
  color: #87805E;
}

h3{
  color: #87805E;
}


img{
  border-radius: 30%;
  height: 250px;
}
